.mobileLinkBarButton, .mobileLinkBarButton:link {
    color: aliceblue !important;
}

.row, .bg, .sidebar, .container, .col-xs-4, table tr:nth-child(even) td, .ck, textarea, .card {
    background-color: rgb(51, 48, 48) !important;
    color: whitesmoke !important;
    border-color: rgb(54, 55, 78) !important;
}

p {
    color: whitesmoke !important;
}

.informationbar {
    background-color: rgb(0, 68, 68) !important;
}

span, g {
    color: whitesmoke !important;
    border-color: rgb(54, 55, 78) !important;
}

.red-msg {
    background: #745c58 !important;
}

.blue-msg {
    background: #5f6f7c !important;
}

/*.main-svg {
    background: #5f6f7c !important;
}*/

body {
    background-color: rgb(88, 78, 78) !important;
    border-color: black !important;
    margin: 0 !important;
}

input[type="password"], input[type="email"], input[type="number"], input[type="text"] {
    background-color: rgb(153, 130, 130) !important;
    border-color: blue !important;
    color: whitesmoke !important;
}

table tr:nth-child(odd) td {
    background-color: rgb(77, 83, 78) !important;
    color: antiquewhite !important;
    border-color: rgb(54, 55, 78) !important;
}

.btn-warning {
    background-color: #70470e !important;
}

a:link, li, a {
    color: rgb(143, 182, 93) !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #6d4e6e !important;
    border: 1px solid rgb(118, 176, 209) !important;
}

::placeholder {
    color: rgb(219, 204, 186) !important;
}

.btn-default:hover, a:hover {
    background-color: rgb(217, 247, 179) !important;
    color: rgb(91, 116, 58) !important;
}

th {
    border-color: black !important;
}

.btn-default {
    background-color: rgb(54, 45, 68) !important;
    border-color: rgb(54, 45, 68) !important;
    color: rgb(143, 182, 93) !important;
}

select {
    border-color: gray !important;
    background-color: rgb(106, 153, 127) !important;
    color: antiquewhite !important;
}

.alert {
    background-color: rgb(41, 95, 97) !important;
}

.scrollable-element {
    scrollbar-color: grey !important;
    scrollbar-arrow-color: rgb(5, 133, 133) !important;
}

*::-webkit-scrollbar {
    width: 20px !important;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: rgb(75, 75, 75) !important;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(110, 110, 175) !important;
    /* color of the scroll thumb */
    border-radius: 30px !important;
    /* roundness of the scroll thumb */
    border: 6px solid rgb(70, 70, 70) !important;
    /* creates padding around scroll thumb */
}

.progress, .box-shadow {
    color: rgb(95, 95, 95) !important;
    background-color: #586c7c !important;
}

table.nationtable th {
    color: aliceblue !important;
    background-color: rgb(31, 99, 99) !important;
}

h1, h2, h3, h4, h5 {
    color: #a59ddf !important;
}

.btn-danger {
    background-color: #742e2b !important;
}

.btn-success {
    background-color: #366936 !important;
}

.btn-primary {
    background-color: #214d74 !important;
}