.mobileLinkBarButton, .mobileLinkBarButton:link{
    color: aliceblue !important;
}

.row, .bg, p, span, .sidebar, .container, .col-xs-4,table tr:nth-child(even) td {
    background-color: rgb(51, 48, 48) !important;
    color: whitesmoke;
    border-color: rgb(54, 55, 78) !important;
}

body {
    background-color: rgb(88, 78, 78) !important;
    border-color: black !important;
    margin: 0% !important;
}

input[type="password"], input[type="email"], input[type="number"], input[type="text"] {
    background-color: rgb(153, 130, 130) !important;
    border-color: blue !important;
    color: whitesmoke !important;
}

table tr:nth-child(odd) td{
    background-color: rgb(77, 83, 78) !important;
    color:antiquewhite !important;
    border-color: rgb(54, 55, 78) !important;
}

a:link, li, a{
    color: rgb(143, 182, 93) !important;
}

.btn-default:hover{
    background-color: rgb(217, 247, 179) !important;
    color: rgb(66, 83, 43) !important;
}

th{
    border-color: black !important;
}

.btn-default {
    background-color: rgb(54, 45, 68) !important;
    border-color:rgb(54, 45, 68) !important;
    color: rgb(143, 182, 93) !important;
}

select {
    border-color: gray !important;
    background-color: rgb(106, 153, 127) !important;
    color: antiquewhite !important;
}

.alert {
    background-color: rgb(41, 95, 97) !important;
}

.scrollable-element{
    scrollbar-color: grey !important;
    scrollbar-arrow-color: rgb(5, 133, 133) !important;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }